<a href="https://colab.research.google.com/github/daniyal9538/GeneralProjects/blob/master/Decision_Tree_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Simple tutorial on Decision Trees. Full tutorial article: https://exploringaiblog.wordpress.com/2019/02/28/an-intro-to-decision-trees-branching-out-in-machine-learning/

#Get dependencies

In [0]:
import pandas as pd
import pydotplus #pip install pydotplus
from sklearn.tree import export_graphviz
from sklearn.tree import DecisionTreeClassifier
import numpy as np

#Create mock data

In [13]:
data = pd.DataFrame({'P_Movies': [17,64,18,20,38,49,55,25,29,31,33], 
             'Gender': [1,0,1,0,1,0,0,1,1,0,1]})
data =data.sort_values('P_Movies')
data

    Gender  P_Movies
0        1        17
2        1        18
3        0        20
7        1        25
8        1        29
9        0        31
10       1        33
4        1        38
5        0        49
6        0        55
1        0        64

#Helper code to visualize tree

In [0]:
def tree_graph_to_png(tree, feature_names, png_file_to_save):
    tree_str = export_graphviz(tree, feature_names=feature_names, 
                                     filled=True, out_file=None)
    graph = pydotplus.graph_from_dot_data(tree_str)  
    graph.write_png(png_file_to_save)

#Train tree and get predictions

In [0]:
#define Decision Tree
dt = DecisionTreeClassifier(criterion = 'entropy')
#Define input vectors
#X is the features in this dataset
X = data['P_Movies'].values.reshape(-1, 1)
#Y is the vector with our Target Variables
Y = data['Gender'].values
#start fitting process
dt.fit(X, Y)

tree_graph_to_png(dt, feature_names=['P_Movies'], 
                 png_file_to_save='dt.png')

In [22]:
d  = np.array([7, 15, 43, 45])
d=d.reshape(-1, 1)

dt.predict(d)

array([1, 1, 1, 0])